.container.text-center
  .row{:style => "position: fixed; padding:10px;z-index:200;margin: 5% auto;top:5%;left: 0;right: 0;"}
    %h1.text-info
      10 MINUTES
    %h3.text-warning
      10 Pushups & 10 Situps... Repeat
  .row{:style => "position: fixed; padding:10px;z-index:200;margin: 5% auto;top:35%;left: 0;right: 0;"}
    .btn.btn-large.btn-success{:style =>"width: 20%; padding-top:20px; padding-bottom:20px;"}
      Begin
  .row{:style =>"position:fixed; bottom: 10%;left:0; right:0;"}
    %blockquote
      %p
        “All we have to decide is what to do with the time that is given us” 
      %small
        J.R.R. Tolkien, The Fellowship of the Ring
.btn.pull-right{:style => "position:fixed; bottom: 0px; right:0px;"}
  next suggestion
